DATABASE_URL=DATABASE_URL=mysql+pymysql://yelp_user:yelp_password@localhost:3306/yelp_db
SECRET_KEY=qwerty-7896jhge45424
# Optional: leave empty for free fallback mode (no charges)
OPENAI_API_KEY=
TAVILY_API_KEY=
